<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Bmp2XpmDialog">
		<title>BMP2XPM - C. Arnholm 2009</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxSYSTEM_MENU|wxRESIZE_BORDER|wxMAXIMIZE_BOX|wxMINIMIZE_BOX|wxBORDER_RAISED</style>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer5" member="no">
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON4" variable="ChangeDir" member="no">
									<label>OutDir ...</label>
									<size>80,-1</size>
									<handler function="OnChangeDirClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="m_outfile" member="yes">
									<label></label>
									<size>500,-1</size>
									<style>wxBORDER_SUNKEN</style>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxTOP|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel1" member="yes">
							<object class="wxBoxSizer" variable="BoxSizer2" member="no">
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON3" variable="OpenBmp" member="yes">
										<label>Open BMP...</label>
										<size>80,-1</size>
										<handler function="OnOpenBmpClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="m_circle_bitmap" member="yes" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON1" variable="SaveXPM" member="no">
										<label>Save XPM</label>
										<size>80,-1</size>
										<handler function="OnSaveXPMClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX3" variable="m_save_ico" member="yes">
										<label>Save also .ICO</label>
										<checked>1</checked>
									</object>
									<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX1" variable="m_sticky" member="yes">
										<label>Sticky OutDir</label>
									</object>
									<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="yes">
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX2" variable="m_transparent" member="yes">
									<label>Bckg. col:</label>
									<checked>1</checked>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="BkgBitmap" member="yes" />
								<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>(RMB)</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER1" variable="ZoomSlider" member="yes">
									<max>10</max>
								</object>
								<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="m_graph" member="yes">
							<size>-1,240</size>
							<handler function="OnGraphRightDown" entry="EVT_RIGHT_DOWN" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT</flag>
				<border>5</border>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="Timer1" member="yes">
			<handler function="OnTimer1Trigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
